<head>
    <title>AppWall</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    

</head>

<body>
    <div class="container">
        {{> header}}
<!--        {{> loginButtons}}-->
        {{> form}}
        {{> posts}}
        
    </div>
</body>