<template name="header" id="header">
    <header>
        <h1 class="center-align card-panel purple lighten-2">The App Wall</h1>
    </header>
</template>

<template name="form">
    <form class="add-new-post">
        <div class="input-field card-panel grey lighten-2">
            <input class="input" type="text" placeholder="Name" />
            <input class="input" type="text" placeholder="Message" />
            <input class="input card-panel purple lighten-2" type="file" />
        </div>
        <div class="center-button">
            <button class="waves-effect waves-light btn card-panel purple lighten-2">Post</button>
        </div>
    </form>
</template>

<template name="posts">
    <div class="grid">
        <div class="grid-sizer"></div>
        {{#each postList}}
            <div class="grid-item card-panel grey lighten-2">
              User: {{this.author}}<br>
              Message: {{this.message}}<br>
              Date Posted: {{this.createdAt}}
                {{updateMasonry}}
                <img src="{{imageDisplay}}">
            </div>
        {{/each}}
    </div>
</template>