.grid-sizer, .grid-item {
    width: 32%;
}

.grid-item img {
    display:block;
    max-width: 100%;
}
html {
/*    background-color: red;*/
    background-image: url(/images/steel.jpg)
}


/*
.grid {
    background-color: lightgray;
}
*/

::-webkit-input-placeholder {
    color: mediumpurple;
}